#Print numbers from 1 to n

In [2]:
n = int(input("Enter a number: "))
for val in range(1,n):
    print(val)

Enter a number:  7

1
2
3
4
5
6

#Print sum of numbers from 1 to 10

In [10]:
n = int(input("Enter a number: "))
i = 0
newnum = 0
while i <= n:
    newnum = i+newnum
    i+=1
print(newnum)

Enter a number:  6

21

#Print even numbers between 1 and n

In [12]:
n = int(input("Enter a number: "))
for val in range(1,n+1):
    if (val % 2 == 0):
        print (val)

Enter a number:  20

2
4
6
8
10
12
14
16
18
20

#Multiplication table of a given number

In [13]:
n = int(input("Enter a number: "))
for val in range(1,11):
    print(f"{n}X{val}={n*val}")

Enter a number:  5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

#Print numbers from 1 to n except multiples of 3

In [14]:
n = int(input("Enter a number: "))
for val in range(1,n+1):
    if (val % 3 != 0):
        print (val)

Enter a number:  20

1
2
4
5
7
8
10
11
13
14
16
17
19
20

#Print numbers from n to 1

In [19]:
n = int(input("Enter a number: "))
for val in range(1, n+1):
    print(n)
    n-=1

Enter a number:  9

9
8
7
6
5
4
3
2
1

#Count numbers divisible by 5

In [24]:
n = int(input("Enter a number: "))
count = 0
for val in range(1, n+1):
    if(val%5==0):
        count+=1
print(count)

Enter a number:  100

20

#Printing various patterns

In [27]:
stars = "*"
for i in range(1,6):
    print(stars)
    stars = stars + "*"

*
**
***
****
*****

In [32]:
num = "12345"
for i in range(1,6):
    print(num[0:i])

1
12
123
1234
12345

In [37]:
stars = "*****"
for i in range(1,6):
    j = 6-i
    print(stars[0:j])

*****
****
***
**
*

In [47]:
num = 1
for i in range(1,6):
    print(i*num)
    num = 10**(i)+num

1
22
333
4444
55555

In [56]:
n = int(input("Enter a number: "))
fact = 1
for val in range(1,n+1):
        fact = fact*val
if  (n == 0):
    print (1)
elif (n == 1):
    print (1)
else:
    print(fact)

Enter a number:  6

720

In [74]:
n = int(input("Enter a number: "))
count = 0
for i in range(2,n+1):
    if (n % i == 0):
        count += 1
if(count > 1):
    print("Composite")
else:
    print("Prime")

Enter a number:  24

Composite